@import "../reset.css";

.header_wrap {
    min-width: 1080px;
    width: 100vw;
    height: 100px;
    background-color: #e7e6e6;
}

.header {
    box-sizing: border-box;
    width: 1080px;
    height: 50px;
    margin: auto;
    padding: 0 30px;
    
    line-height: 100px;

    position: relative;
}

.header button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
}
.header button:hover {
    cursor: pointer;
}

/* .header .login {
    width: 100px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0 gray;
    color: black;
    position: absolute;
    right: 0;
}
.header .login_name {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    right: 0;
} */