@import "../reset.css";

.research_page_wrap {
    min-width: 1080px;
    width: 100vw;
    height: calc(100vh - 150px);
    background-color: #e7e6e6;
    padding: 50px 0;
    box-sizing: border-box;
}

.research_page {
    width: 1080px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 150px 250px 170px;
}

.research_page .question{
    font-weight: bold;
    font-size: 40px;
    border-bottom: 2px solid;
    padding: 10px;
    color: #f84e28;
}

.research_page .ans {
    text-align: center;
    margin-top: 50px;
}

.research_page .ans_button{
    display: inline-block;
    width: 100px;
    background-color: #f84e28;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 5px 0 gray;
}

.research_page .ans_blank{
    display: inline-block;
    width: 100px;
}

.loader {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border: 10px solid #f3f3f3;
    border-top: 10px solid #f84e28;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  