@import "../../reset.css";

.recommend_media_wrap {
    /* width: 100vw;
    min-width: 1080px; */
    padding: 0 50px;
    box-sizing: border-box;
}

.recommend_media {
    width: 1080px;
    margin: 0 auto;
}

.recommend_media .title {
    padding: 30px 0 20px 0;
    color: #f84e28;
    font-size: 40px;
    font-weight: bold;
}


.recommend_media .container {
    margin: 0 auto;
    width: 950px;
    padding: 0px 40px 40px 40px;
}
.recommend_media .medium {
    margin: 10px;
    position: relative;
    text-align: center;
}
.recommend_media .slick-next:before, 
.recommend_media .slick-prev:before {
    color: #000;
    font-size: 30px;
}
.recommend_media .slick-prev:before {
    margin-left: -10px;
}

.medium {
    width: 160px;
    height: 208px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}